<div class="center">
  <form [formGroup]="addEmployee" (ngSubmit)="addEmployeeName(addEmployee)">
    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Name"
      style="width: 50%"
    />
    <div
      *ngIf="
        addEmployee.controls['name'].touched && !addEmployee.controls['name'].valid
      "
      class="alert alert-danger"
      style="width: 50%;"
    >
      <span *ngIf="addEmployee.controls['name'].hasError('required')">
        Name is required
      </span>
      <span *ngIf="addEmployee.controls['name'].hasError('minlength')">
        Min length is 3
      </span>
    </div>
  </form>
  <div
    *ngIf="
      this.calendarModel &&
      this.calendarModel.name &&
      this.calendarModel.name.length >= 3
    "
    class="actionButton"
  >
    <button
      (click)="startTimer()"
      class="btn btn-primary"
      style="margin-right: 10px"
    >
      Sign In
    </button>
    <button
      (click)="pauseTimer()"
      *ngIf="
        this.calendarModel &&
        this.calendarModel.timeLeft &&
        this.calendarModel.timeLeft.length !== 0
      "
      class="btn btn-danger"
    >
      Sign Out
    </button>
  </div>
  <div class="time">
    <p
      *ngIf="
        this.calendarModel &&
        this.calendarModel.timeLeft &&
        this.calendarModel.timeLeft.length !== 0 &&
        this.calendarModel.timeLeft[0] !== 0
      "
    >
      <em>{{ this.calendarModel.timeLeft[0] }}</em
      ><b> Hours</b>
    </p>
    <p
      *ngIf="
        this.calendarModel &&
        this.calendarModel.timeLeft &&
        this.calendarModel.timeLeft.length !== 0 &&
        this.calendarModel.timeLeft[1] !== 0
      "
      style="margin-left: 10px"
    >
      <em>{{ this.calendarModel.timeLeft[1] }}</em
      ><b> Minutes</b>
    </p>
    <p
      *ngIf="
        this.calendarModel &&
        this.calendarModel.timeLeft &&
        this.calendarModel.timeLeft.length !== 0 &&
        this.calendarModel.timeLeft[2] !== 0
      "
      style="margin-left: 10px"
    >
      <em>{{ this.calendarModel.timeLeft[2] }}</em
      ><b> Seconds</b>
    </p>
  </div>
  <button
    (click)="addData(addEmployee)"
    *ngIf="
      this.calendarModel &&
      this.calendarModel.showSendDataButton &&
      this.calendarModel.showSendDataButton === true
    "
    class="btn btn-success"
  >
    Send data
  </button>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Actor Name</th>
        <th>Character Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of this.calendarModel.showData">
        <td>{{ character.name }}</td>
        <td>
          {{ character.time[0] }} Hours {{ character.time[1] }} Minutes
          {{ character.time[2] }} Seconds
        </td>
      </tr>
    </tbody>
  </table>
</div>
